# Data Preprocessing

In [ ]:
import pandas as pd
import dask.dataframe as dd

df = dd.read_csv(r"data_raw/user_logs.csv", dtype={"date": int})

jan_df = df[(df["date"] >= 20170101)&(df["date"] <= 20170131)]
feb_df = df[(df["date"] >= 20170201)&(df["date"] <= 20170228)]
jan_df.to_csv(r"data_intermediate/user_logs_jan.csv", index=False, single_file=True)
feb_df.to_csv(r"data_intermediate/user_logs_feb.csv", index=False, single_file=True)

transactions0 = pd.read_csv(r"data_raw/transactions.csv")
transactions1 = pd.read_csv(r"data_raw/transactions_v2.csv")
transactions = pd.concat([transactions0, transactions1]).drop_duplicates()
transactions.to_csv(r"data_intermediate/transactions_all.csv", index=False)

User log features extraction (per month)

In [ ]:
import pandas as pd

user_logs_jan = pd.read_csv(r"data_intermediate/user_logs_jan.csv")
user_logs_feb = pd.read_csv(r"data_intermediate/user_logs_feb.csv")
user_logs_mar = pd.read_csv(r"data_raw/user_logs_v2.csv")

In [ ]:
# Jan user log
sum_jan_month_25=user_logs_jan.groupby('msno')['num_25'].sum()
sum_jan_month_25=sum_jan_month_25.rename('sum_jan_month_25')

sum_jan_month_50=user_logs_jan.groupby('msno')['num_50'].sum()
sum_jan_month_50=sum_jan_month_50.rename('sum_jan_month_50')

sum_jan_month_75=user_logs_jan.groupby('msno')['num_75'].sum()
sum_jan_month_75=sum_jan_month_75.rename('sum_jan_month_75')

sum_jan_month_985=user_logs_jan.groupby('msno')['num_985'].sum()
sum_jan_month_985=sum_jan_month_985.rename('sum_jan_month_985')

sum_jan_month_100=user_logs_jan.groupby('msno')['num_100'].sum()
sum_jan_month_100=sum_jan_month_100.rename('sum_jan_month_100')

mean_jan_month_25=user_logs_jan.groupby('msno')['num_25'].mean()
mean_jan_month_25=mean_jan_month_25.rename('mean_jan_month_25')

mean_jan_month_50=user_logs_jan.groupby('msno')['num_50'].mean()
mean_jan_month_50=mean_jan_month_50.rename('mean_jan_month_50')

mean_jan_month_75=user_logs_jan.groupby('msno')['num_75'].mean()
mean_jan_month_75=mean_jan_month_75.rename('mean_jan_month_75')

mean_jan_month_985=user_logs_jan.groupby('msno')['num_985'].mean()
mean_jan_month_985=mean_jan_month_985.rename('mean_jan_month_985')

mean_jan_month_100=user_logs_jan.groupby('msno')['num_100'].mean()
mean_jan_month_100=mean_jan_month_100.rename('mean_jan_month_100')

mean_jan_month_num_unq=user_logs_jan.groupby('msno')['num_unq'].mean()
mean_jan_month_num_unq=mean_jan_month_num_unq.rename('mean_jan_month_num_unq')

sum_jan_month_num_unq=user_logs_jan.groupby('msno')['num_unq'].sum()
sum_jan_month_num_unq=sum_jan_month_num_unq.rename('sum_jan_month_num_unq')

sum_jan_month_total_secs=user_logs_jan.groupby('msno')['total_secs'].sum()
sum_jan_month_total_secs=sum_jan_month_total_secs.rename('sum_jan_month_total_secs')

mean_jan_month_total_secs=user_logs_jan.groupby('msno')['total_secs'].mean()
mean_jan_month_total_secs=mean_jan_month_total_secs.rename('mean_jan_month_total_secs')

jan_month_login=user_logs_jan.groupby('msno')['date'].count()
jan_month_login=jan_month_login.rename('jan_month_login')

last_login_date_jan=user_logs_jan.groupby('msno')['date'].max()
last_login_date_jan=last_login_date_jan.rename('last_login_date_jan')

jan_features = pd.concat([
    sum_jan_month_25, sum_jan_month_50, sum_jan_month_75, sum_jan_month_985, sum_jan_month_100,
    mean_jan_month_25, mean_jan_month_50, mean_jan_month_75, mean_jan_month_985, mean_jan_month_100,
    mean_jan_month_num_unq, sum_jan_month_num_unq, sum_jan_month_total_secs, mean_jan_month_total_secs,
    jan_month_login, last_login_date_jan
], axis=1)

file_path_jan = r"data_feature/jan_log_user_features.csv"
jan_features.to_csv(file_path_jan, index=True)

In [ ]:
# Feb user log

sum_feb_month_25=user_logs_feb.groupby('msno')['num_25'].sum()
sum_feb_month_25=sum_feb_month_25.rename('sum_feb_month_25')

sum_feb_month_50=user_logs_feb.groupby('msno')['num_50'].sum()
sum_feb_month_50=sum_feb_month_50.rename('sum_feb_month_50')

sum_feb_month_75=user_logs_feb.groupby('msno')['num_75'].sum()
sum_feb_month_75=sum_feb_month_75.rename('sum_feb_month_75')

sum_feb_month_985=user_logs_feb.groupby('msno')['num_985'].sum()
sum_feb_month_985=sum_feb_month_985.rename('sum_feb_month_985')

sum_feb_month_100=user_logs_feb.groupby('msno')['num_100'].sum()
sum_feb_month_100=sum_feb_month_100.rename('sum_feb_month_100')

mean_feb_month_25=user_logs_feb.groupby('msno')['num_25'].mean()
mean_feb_month_25=mean_feb_month_25.rename('mean_feb_month_25')

mean_feb_month_50=user_logs_feb.groupby('msno')['num_50'].mean()
mean_feb_month_50=mean_feb_month_50.rename('mean_feb_month_50')

mean_feb_month_75=user_logs_feb.groupby('msno')['num_75'].mean()
mean_feb_month_75=mean_feb_month_75.rename('mean_feb_month_75')

mean_feb_month_985=user_logs_feb.groupby('msno')['num_985'].mean()
mean_feb_month_985=mean_feb_month_985.rename('mean_feb_month_985')

mean_feb_month_100=user_logs_feb.groupby('msno')['num_100'].mean()
mean_feb_month_100=mean_feb_month_100.rename('mean_feb_month_100')

mean_feb_month_num_unq=user_logs_feb.groupby('msno')['num_unq'].mean()
mean_feb_month_num_unq=mean_feb_month_num_unq.rename('mean_feb_month_num_unq')

sum_feb_month_num_unq=user_logs_feb.groupby('msno')['num_unq'].sum()
sum_feb_month_num_unq=sum_feb_month_num_unq.rename('sum_feb_month_num_unq')

sum_feb_month_total_secs=user_logs_feb.groupby('msno')['total_secs'].sum()
sum_feb_month_total_secs=sum_feb_month_total_secs.rename('sum_feb_month_total_secs')

mean_feb_month_total_secs=user_logs_feb.groupby('msno')['total_secs'].mean()
mean_feb_month_total_secs=mean_feb_month_total_secs.rename('mean_feb_month_total_secs')

feb_month_login=user_logs_feb.groupby('msno')['date'].count()
feb_month_login=feb_month_login.rename('feb_month_login')

last_login_date_feb=user_logs_feb.groupby('msno')['date'].max()
last_login_date_feb=last_login_date_feb.rename('last_login_date_feb')

feb_features = pd.concat([
    sum_feb_month_25,sum_feb_month_50,sum_feb_month_75,sum_feb_month_985,sum_feb_month_100,
    mean_feb_month_25,mean_feb_month_50,mean_feb_month_75,mean_feb_month_985,mean_feb_month_100,
    mean_feb_month_num_unq,sum_feb_month_num_unq,sum_feb_month_total_secs,mean_feb_month_total_secs,
    feb_month_login,last_login_date_feb
], axis=1)

file_path_feb = r"data_feature/feb_log_user_features.csv"
feb_features.to_csv(file_path_feb, index=True)

In [ ]:
# Mar user log

sum_march_month_25=user_logs_mar.groupby('msno')['num_25'].sum()
sum_march_month_25=sum_march_month_25.rename('sum_march_month_25')
sum_march_month_50=user_logs_mar.groupby('msno')['num_50'].sum()
sum_march_month_50=sum_march_month_50.rename('sum_march_month_50')
sum_march_month_75=user_logs_mar.groupby('msno')['num_75'].sum()
sum_march_month_75=sum_march_month_75.rename('sum_march_month_75')
sum_march_month_985=user_logs_mar.groupby('msno')['num_985'].sum()
sum_march_month_985=sum_march_month_985.rename('sum_march_month_985')
sum_march_month_100=user_logs_mar.groupby('msno')['num_100'].sum()
sum_march_month_100=sum_march_month_100.rename('sum_march_month_100')
mean_march_month_25=user_logs_mar.groupby('msno')['num_25'].mean()
mean_march_month_25=mean_march_month_25.rename('mean_march_month_25')
mean_march_month_50=user_logs_mar.groupby('msno')['num_50'].mean()
mean_march_month_50=mean_march_month_50.rename('mean_march_month_50')
mean_march_month_75=user_logs_mar.groupby('msno')['num_75'].mean()
mean_march_month_75=mean_march_month_75.rename('mean_march_month_75')
mean_march_month_985=user_logs_mar.groupby('msno')['num_985'].mean()
mean_march_month_985=mean_march_month_985.rename('mean_march_month_985')
mean_march_month_100=user_logs_mar.groupby('msno')['num_100'].mean()
mean_march_month_100=mean_march_month_100.rename('mean_march_month_100')
mean_march_month_num_unq=user_logs_mar.groupby('msno')['num_unq'].mean()
mean_march_month_num_unq=mean_march_month_num_unq.rename('mean_march_month_num_unq')
sum_march_month_num_unq=user_logs_mar.groupby('msno')['num_unq'].sum()
sum_march_month_num_unq=sum_march_month_num_unq.rename('sum_march_month_num_unq')
sum_march_month_total_secs=user_logs_mar.groupby('msno')['total_secs'].sum()
sum_march_month_total_secs=sum_march_month_total_secs.rename('sum_march_month_total_secs')
mean_march_month_total_secs=user_logs_mar.groupby('msno')['total_secs'].mean()
mean_march_month_total_secs=mean_march_month_total_secs.rename('mean_march_month_total_secs')
march_month_login=user_logs_mar.groupby('msno')['date'].count()
march_month_login=march_month_login.rename('march_month_login')
last_login_date_march=user_logs_mar.groupby('msno')['date'].max()
last_login_date_march=last_login_date_march.rename('last_login_date_march')

march_features = pd.concat([
    sum_march_month_25,sum_march_month_50,sum_march_month_75,sum_march_month_985,sum_march_month_100,
    mean_march_month_25,mean_march_month_50,mean_march_month_75,mean_march_month_985,mean_march_month_100,
    mean_march_month_num_unq,sum_march_month_num_unq,sum_march_month_total_secs,mean_march_month_total_secs,
    march_month_login,last_login_date_march
], axis=1)

file_path_feb = r"data_feature/mar_log_user_features.csv"
march_features.to_csv(file_path_feb, index=True)

Transaction features extraction (during 205-2016)

In [ ]:
import pandas as pd

transactions = pd.read_csv(r"data_intermediate/transactions_all.csv")

In [ ]:
# Transactions data

transactions["transaction_date"] = pd.to_datetime(transactions["transaction_date"], format="%Y%m%d")
transactions["membership_expire_date"] = pd.to_datetime(transactions["membership_expire_date"], format="%Y%m%d")

transaction_count = transactions.groupby('msno')['payment_method_id'].count().rename('transaction_count')

is_auto_renew_change_flag = transactions.groupby('msno')['is_auto_renew'].max().rename('is_auto_renew_change_flag')
transactions['autorenew_not_cancel'] = ((transactions['is_auto_renew'] == 1) & (transactions['is_cancel'] == 0)).astype(int)
autorenew_not_cancel = transactions.groupby('msno')['autorenew_not_cancel'].min().rename('autorenew_not_cancel')

average_plan = transactions.groupby('msno')['payment_plan_days'].mean().rename('average_plan')
change_in_method = transactions.groupby('msno')['payment_method_id'].nunique().rename('change_in_method')
change_in_plan = transactions.groupby('msno')['payment_plan_days'].nunique().rename('change_in_plan')
sum_plan_days = transactions.groupby('msno')['payment_plan_days'].sum().rename('sum_plan_days')

average_amount_paid = transactions.groupby('msno')['actual_amount_paid'].mean().rename('average_amount_paid')
average_amount_charged = transactions.groupby('msno')['plan_list_price'].mean().rename('average_amount_charged')
difference = (average_amount_paid - average_amount_charged).rename("difference")
change_in_price = transactions.groupby('msno')['plan_list_price'].nunique().rename('change_in_price')
change_in_price_paid = transactions.groupby('msno')['actual_amount_paid'].nunique().rename('change_in_price_paid')
sum_list_price = transactions.groupby('msno')['plan_list_price'].sum().rename('sum_list_price')
sum_amount_paid = transactions.groupby('msno')['actual_amount_paid'].sum().rename('sum_amount_paid')


duration = (transactions['membership_expire_date'] - transactions['transaction_date']).dt.days.groupby(transactions['msno']).mean().rename('duration')

more_than_30 = (transactions['membership_expire_date'] - transactions['transaction_date']).dt.days.groupby(transactions['msno']).apply(lambda x: (x > 30).sum()).rename('more_than_30')

features = [
    transaction_count, is_auto_renew_change_flag,
    average_plan, change_in_method, change_in_plan, sum_plan_days,
    average_amount_paid, average_amount_charged, difference, change_in_price,
    change_in_price_paid, sum_list_price, sum_amount_paid, duration, more_than_30,
    autorenew_not_cancel
]

transaction_features = pd.concat(features, axis=1)

file_path = r"data_feature/transaction_features.csv"
transaction_features.to_csv(file_path, index=True)

Member data preparation

In [ ]:
# Members data

members = pd.read_csv(r"data_raw/members_v3.csv")

# Handle missing values and outliers

# Remove age outliers (valid range: 0-100)
members["bd"] = members["bd"].apply(lambda x: np.nan if x <= 0 or x >= 100 else x)

# Fill missing age with median
members["bd"].fillna(members["bd"].median(), inplace=True)

# Fill missing categorical values with mode
members["gender"].fillna("Unknown", inplace=True)

# Convert date columns to datetime format
members["registration_init_time"] = pd.to_datetime(members["registration_init_time"], format="%Y%m%d", errors="coerce")

# Define reference date
reference_date = pd.to_datetime("2017-02-01")

# Compute registration duration in days
members["registration_duration_days"] = (reference_date - members["registration_init_time"]).dt.days

members.to_csv(r"data_intermediate/members.csv",index=False)

C:\Users\66698\AppData\Local\Temp\ipykernel_37716\842342531.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  members["bd"].fillna(members["bd"].median(), inplace=True)
C:\Users\66698\AppData\Local\Temp\ipykernel_37716\842342531.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  members["gender"].fillna("Unknown", inplace=True)

In [ ]:

# Load train (labeled) and test (unlabeled) data
labeled_data = pd.read_csv(r"data_raw/train_v2.csv")
unlabeled_data = pd.read_csv(r"data_raw/sample_submission_v2.csv")

# Load transactions data
transaction_features = pd.read_csv(r"data_feature/transaction_features.csv")

# Extract user IDs
train_users = set(labeled_data["msno"])
test_users = set(unlabeled_data["msno"])
transaction_users = set(transaction_features["msno"])

# Check how many users are missing in transactions
train_users_missing_in_transactions = train_users - transaction_users
test_users_missing_in_transactions = test_users - transaction_users

print(f"Total users in training set: {len(train_users)}")
print(f"Users missing in transactions (train): {len(train_users_missing_in_transactions)}")

print(f"Total users in test set: {len(test_users)}")
print(f"Users missing in transactions (test): {len(test_users_missing_in_transactions)}")

Total users in training set: 970960
Users missing in transactions (train): 0
Total users in test set: 907471
Users missing in transactions (test): 0

In [5]:
# Load user logs data
user_logs_jan = pd.read_csv(r"data_feature/jan_log_user_features.csv", usecols=["msno"])
user_logs_feb = pd.read_csv(r"data_feature/feb_log_user_features.csv", usecols=["msno"])
user_logs_mar = pd.read_csv(r"data_feature/mar_log_user_features.csv", usecols=["msno"])

# Combine unique user IDs from all three logs
user_logs_users = set(user_logs_jan["msno"]) | set(user_logs_feb["msno"]) | set(user_logs_mar["msno"])

# Check how many users are missing in user logs
train_users_missing_in_logs = train_users - user_logs_users
test_users_missing_in_logs = test_users - user_logs_users

print(f"Total users in training set: {len(train_users)}")
print(f"Users missing in user logs (train): {len(train_users_missing_in_logs)}")

print(f"Total users in test set: {len(test_users)}")
print(f"Users missing in user logs (test): {len(test_users_missing_in_logs)}")

Total users in training set: 970960
Users missing in user logs (train): 176132
Total users in test set: 907471
Users missing in user logs (test): 174407

In [ ]:
# Load user logs data
members = pd.read_csv(r"data_intermediate/members.csv", usecols=["msno"])
members_users = set(members["msno"])

# Check how many users are missing in user logs
train_users_missing_in_members = train_users - members_users
test_users_missing_in_members = test_users - members_users

print(f"Total users in training set: {len(train_users)}")
print(f"Users missing in members (train): {len(train_users_missing_in_members)}")

print(f"Total users in test set: {len(test_users)}")
print(f"Users missing in members (test): {len(test_users_missing_in_members)}")

Total users in training set: 970960
Users missing in members (train): 109993
Total users in test set: 907471
Users missing in members (test): 112381

Labled data preparation

In [2]:
import pandas as pd
labeled_data = pd.read_csv(r"data_raw/train_v2.csv")
user_logs_jan = pd.read_csv(r"data_feature/jan_log_user_features.csv")
user_logs_feb = pd.read_csv(r"data_feature/feb_log_user_features.csv")
transaction_features = pd.read_csv(r"data_feature/transaction_features.csv")
members = pd.read_csv(r"data_intermediate/members.csv")

In [3]:
# merge and fill na

labeled_data_users = labeled_data["msno"]
user_logs = pd.merge(labeled_data_users, user_logs_jan, on="msno", how="left")
user_logs = pd.merge(user_logs, user_logs_feb, on="msno", how="left")

user_logs.fillna(0, inplace=True)  # Fill numerical missing values with 0
user_logs["last_login_date_jan"].replace(0, 19700101, inplace=True)
user_logs["last_login_date_feb"].replace(0, 19700101, inplace=True)
user_logs["last_login_date_jan"] = pd.to_datetime(user_logs["last_login_date_jan"], format="%Y%m%d", errors="coerce")
user_logs["last_login_date_feb"] = pd.to_datetime(user_logs["last_login_date_feb"], format="%Y%m%d", errors="coerce")

C:\Users\66698\AppData\Local\Temp\ipykernel_59596\2417992059.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  user_logs["last_login_date_jan"].replace(0, 19700101, inplace=True)
C:\Users\66698\AppData\Local\Temp\ipykernel_59596\2417992059.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  user_logs["last_login_date_feb"].replace(0, 19700101, inplace=True)

In [5]:
# columns rename

user_logs.rename(columns={
    'sum_feb_month_25': 'sum_month_25_current',
    'sum_feb_month_50': 'sum_month_50_current',
    'sum_feb_month_75': 'sum_month_75_current',
    'sum_feb_month_985': 'sum_month_985_current',
    'sum_feb_month_100': 'sum_month_100_current',
    'mean_feb_month_25': 'mean_month_25_current',
    'mean_feb_month_50': 'mean_month_50_current',
    'mean_feb_month_75': 'mean_month_75_current',
    'mean_feb_month_985': 'mean_month_985_current',
    'mean_feb_month_100': 'mean_month_100_current',
    'mean_feb_month_num_unq': 'mean_month_num_unq_current',
    'sum_feb_month_num_unq': 'sum_month_num_unq_current',
    'sum_feb_month_total_secs': 'sum_month_total_secs_current',
    'mean_feb_month_total_secs': 'mean_month_total_secs_current',
    'feb_month_login': 'month_login_current',
    'last_login_date_feb': 'last_login_date_current',

    'sum_jan_month_25': 'sum_month_25_previous',
    'sum_jan_month_50': 'sum_month_50_previous',
    'sum_jan_month_75': 'sum_month_75_previous',
    'sum_jan_month_985': 'sum_month_985_previous',
    'sum_jan_month_100': 'sum_month_100_previous',
    'mean_jan_month_25': 'mean_month_25_previous',
    'mean_jan_month_50': 'mean_month_50_previous',
    'mean_jan_month_75': 'mean_month_75_previous',
    'mean_jan_month_985': 'mean_month_985_previous',
    'mean_jan_month_100': 'mean_month_100_previous',
    'mean_jan_month_num_unq': 'mean_month_num_unq_previous',
    'sum_jan_month_num_unq': 'sum_month_num_unq_previous',
    'sum_jan_month_total_secs': 'sum_month_total_secs_previous',
    'mean_jan_month_total_secs': 'mean_month_total_secs_previous',
    'jan_month_login': 'month_login_previous',
    'last_login_date_jan': 'last_login_date_previous'
}, inplace=True)

In [6]:
# diff computing

# Compute the difference (February - January) to get "change from last month"
diff_columns = [
    "sum_month_25", "sum_month_50", "sum_month_75", "sum_month_985", "sum_month_100",
    "mean_month_25", "mean_month_50", "mean_month_75", "mean_month_985", "mean_month_100",
    "mean_month_num_unq", "sum_month_num_unq", "sum_month_total_secs", "mean_month_total_secs",
    "month_login"
]

for col in diff_columns:
    user_logs[f"diff_{col}"] = user_logs[f"{col}_current"] - user_logs[f"{col}_previous"]

In [7]:
# labeled_data = pd.read_csv(r"data_raw/train_v2.csv")
labeled_data = labeled_data.merge(transaction_features, on="msno", how="left")
labeled_data = labeled_data.merge(user_logs, on="msno", how="left")
labeled_data = labeled_data.merge(members, on="msno", how="left")

In [8]:
# Handle missing values of members

labeled_data["gender"].fillna("Unknown", inplace=True)

# Fill missing 'registration_init_time' with a placeholder date and convert to datetime format
labeled_data["registration_init_time"].fillna(pd.to_datetime("1970-01-01").date(), inplace=True)

labeled_data["registration_duration_days"].fillna(labeled_data["registration_duration_days"].mean(), inplace=True)

labeled_data["bd"].fillna(labeled_data["bd"].mean(), inplace=True)

# Fill missing 'city' and 'registered_via' based on the most frequent value per 'bd' (age)
city_mode_by_bd = labeled_data.groupby("bd")["city"].agg(lambda x: x.mode()[0] if not x.mode().empty else "Unknown")
labeled_data["city"] = labeled_data.apply(
    lambda row: city_mode_by_bd[row["bd"]] if pd.isna(row["city"]) else row["city"],
    axis=1
)

reg_mode_by_bd = labeled_data.groupby("bd")["registered_via"].agg(lambda x: x.mode()[0] if not x.mode().empty else "Unknown")
labeled_data["registered_via"] = labeled_data.apply(
    lambda row: reg_mode_by_bd[row["bd"]] if pd.isna(row["registered_via"]) else row["registered_via"],
    axis=1
)

C:\Users\66698\AppData\Local\Temp\ipykernel_59596\1569685101.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  labeled_data["gender"].fillna("Unknown", inplace=True)
C:\Users\66698\AppData\Local\Temp\ipykernel_59596\1569685101.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  labeled_data["registration_init_time"].fillna(pd.to_datetime("1970-01-01").date(), inplace=True)
C:\Users\66698\AppData\Local\Temp\ipykernel_59596\1569685101.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  labeled_data["registration_duration_days"].fillna(labeled_data["registration_duration_days"].mean(), inplace=True)
C:\Users\66698\AppData\Local\Temp\ipykernel_59596\1569685101.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  labeled_data["bd"].fillna(labeled_data["bd"].mean(), inplace=True)

In [ ]:
labeled_data.to_csv(r"data_final/labeled_data.csv", index = False)

In [19]:
labeled_data

,msno,is_churn,transaction_count,is_auto_renew_change_flag,average_plan,change_in_method,change_in_plan,sum_plan_days,average_amount_paid,average_amount_charged,...,diff_sum_month_num_unq,diff_sum_month_total_secs,diff_mean_month_total_secs,diff_month_login,city,bd,gender,registered_via,registration_init_time,registration_duration_days
0,ugx0CjOMzazClkFzU2xasmDZaoIqOUAZPsH1q0teWCg=,1,6,1,10.000000,2,2,60,149.000000,49.666667,...,46.0,12472.612,12472.612000,1.0,5.0,28.000000,male,3.0,2013-12-23,1136.000000
1,f/NmvEzHfhINFEYZTR05prUdr+E+3+oewvweYz9cCQE=,1,6,0,26.166667,3,2,157,134.500000,134.500000,...,68.0,18474.223,2052.691444,9.0,13.0,20.000000,male,3.0,2013-12-23,1136.000000
2,zLo9f73nGGT1p21ltZC3ChiRnAVvgibMyazbCxvWPcg=,1,20,0,34.500000,3,3,690,149.100000,149.100000,...,-135.0,-25319.776,-1043.449112,-1.0,13.0,18.000000,male,3.0,2013-12-27,1132.000000
3,8iF/+8HY8lJKFrTc7iR9ZYGCG2Ecrogbc2Vy5YhsfhQ=,1,28,1,27.035714,2,3,757,143.678571,133.035714,...,0.0,0.000,0.000000,0.0,1.0,27.000000,Unknown,7.0,2014-01-09,1119.000000
4,K6fja4+jmoZ5xG6BypqX80Uw/XKpMgrEMdG2edFOxnA=,1,32,1,27.187500,1,2,870,117.125000,103.781250,...,208.0,44527.016,2822.911250,11.0,13.0,35.000000,female,7.0,2014-01-25,1103.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970955,OHnZbu+EVaP+vN7Z+OfT5OMcp90MWFZonmM0o3pb8FY=,0,27,1,29.037037,1,3,784,143.481481,143.481481,...,9.0,1587.672,285.688551,-2.0,13.0,28.000000,male,7.0,2011-08-31,1981.000000
970956,S92bDK//uI6hk3u1vuApro0qJBQOToBozZ7lL1yTC+w=,0,9,1,30.000000,1,1,270,99.000000,99.000000,...,154.0,13595.819,2013.844500,1.0,1.0,27.000000,Unknown,7.0,2011-09-03,1978.000000
970957,eUa3xo16vpAjr43Cjlb6Kjf1NTILYyJIkBayJQdXWnw=,0,20,1,30.000000,1,1,600,99.000000,99.000000,...,224.0,54264.419,-709.288455,6.0,1.0,27.000000,Unknown,7.0,2011-09-05,1976.000000
970958,iZE41tbAQ65rJq60olkJT4BJzuUAYgQdfbEemXe/TTk=,0,21,1,28.714286,1,3,603,149.000000,141.904762,...,-369.0,-75331.426,-3093.422497,-2.0,5.0,25.000000,female,9.0,2011-09-05,1976.000000
970959,oECkzJik4wKsbOEVY6UACLbmgM8qymFdb5cJaHrodY8=,0,27,1,30.148148,1,2,814,149.000000,149.000000,...,0.0,0.000,0.000000,0.0,Unknown,28.303535,Unknown,Unknown,1970-01-01,1236.701112

Unlabled Data Preparation

In [10]:
import pandas as pd
unlabeled_data = pd.read_csv(r"data_raw/sample_submission_v2.csv")
user_logs_feb = pd.read_csv(r"data_feature/feb_log_user_features.csv")
user_logs_mar = pd.read_csv(r"data_feature/mar_log_user_features.csv")
# transaction_features = pd.read_csv(r"data_feature/transaction_features.csv")
# members = pd.read_csv(r"data_intermediate/members.csv")

In [11]:
# merge and fill na

unlabeled_data_users = unlabeled_data["msno"]
user_logs = pd.merge(unlabeled_data_users, user_logs_feb, on="msno", how="left")
user_logs = pd.merge(user_logs, user_logs_mar, on="msno", how="left")

user_logs.fillna(0, inplace=True)  # Fill numerical missing values with 0
user_logs["last_login_date_feb"].replace(0, 19700101, inplace=True)
user_logs["last_login_date_march"].replace(0, 19700101, inplace=True)
user_logs["last_login_date_feb"] = pd.to_datetime(user_logs["last_login_date_feb"], format="%Y%m%d", errors="coerce")
user_logs["last_login_date_march"] = pd.to_datetime(user_logs["last_login_date_march"], format="%Y%m%d", errors="coerce")

C:\Users\66698\AppData\Local\Temp\ipykernel_59596\355208643.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  user_logs["last_login_date_feb"].replace(0, 19700101, inplace=True)
C:\Users\66698\AppData\Local\Temp\ipykernel_59596\355208643.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  user_logs["last_login_date_march"].replace(0, 19700101, inplace=True)

In [12]:
column_mapping = {
    'sum_feb_month_25': 'sum_month_25_previous',
    'sum_feb_month_50': 'sum_month_50_previous',
    'sum_feb_month_75': 'sum_month_75_previous',
    'sum_feb_month_985': 'sum_month_985_previous',
    'sum_feb_month_100': 'sum_month_100_previous',
    'mean_feb_month_25': 'mean_month_25_previous',
    'mean_feb_month_50': 'mean_month_50_previous',
    'mean_feb_month_75': 'mean_month_75_previous',
    'mean_feb_month_985': 'mean_month_985_previous',
    'mean_feb_month_100': 'mean_month_100_previous',
    'mean_feb_month_num_unq': 'mean_month_num_unq_previous',
    'sum_feb_month_num_unq': 'sum_month_num_unq_previous',
    'sum_feb_month_total_secs': 'sum_month_total_secs_previous',
    'mean_feb_month_total_secs': 'mean_month_total_secs_previous',
    'feb_month_login': 'month_login_previous',
    'last_login_date_feb': 'last_login_date_previous',

    'sum_march_month_25': 'sum_month_25_current',
    'sum_march_month_50': 'sum_month_50_current',
    'sum_march_month_75': 'sum_month_75_current',
    'sum_march_month_985': 'sum_month_985_current',
    'sum_march_month_100': 'sum_month_100_current',
    'mean_march_month_25': 'mean_month_25_current',
    'mean_march_month_50': 'mean_month_50_current',
    'mean_march_month_75': 'mean_month_75_current',
    'mean_march_month_985': 'mean_month_985_current',
    'mean_march_month_100': 'mean_month_100_current',
    'mean_march_month_num_unq': 'mean_month_num_unq_current',
    'sum_march_month_num_unq': 'sum_month_num_unq_current',
    'sum_march_month_total_secs': 'sum_month_total_secs_current',
    'mean_march_month_total_secs': 'mean_month_total_secs_current',
    'march_month_login': 'month_login_current',
    'last_login_date_march': 'last_login_date_current'
}

user_logs.rename(columns=column_mapping, inplace=True)

In [13]:
# diff computing

# Compute the difference (March - February) to get "change from last month"
diff_columns = [
    "sum_month_25", "sum_month_50", "sum_month_75", "sum_month_985", "sum_month_100",
    "mean_month_25", "mean_month_50", "mean_month_75", "mean_month_985", "mean_month_100",
    "mean_month_num_unq", "sum_month_num_unq", "sum_month_total_secs", "mean_month_total_secs",
    "month_login"
]

for col in diff_columns:
    user_logs[f"diff_{col}"] = user_logs[f"{col}_current"] - user_logs[f"{col}_previous"]

In [14]:
unlabeled_data = unlabeled_data.merge(transaction_features, on="msno", how="left")
unlabeled_data = unlabeled_data.merge(user_logs, on="msno", how="left")
unlabeled_data = unlabeled_data.merge(members, on="msno", how="left")

In [15]:
# Handle missing values of members

unlabeled_data["gender"].fillna("Unknown", inplace=True)

# Fill missing 'registration_init_time' with a placeholder date and convert to datetime format
unlabeled_data["registration_init_time"].fillna(pd.to_datetime("1970-01-01").date(), inplace=True)

unlabeled_data["registration_duration_days"].fillna(unlabeled_data["registration_duration_days"].mean(), inplace=True)

unlabeled_data["bd"].fillna(unlabeled_data["bd"].mean(), inplace=True)

# Fill missing 'city' and 'registered_via' based on the most frequent value per 'bd' (age)
city_mode_by_bd = unlabeled_data.groupby("bd")["city"].agg(lambda x: x.mode()[0] if not x.mode().empty else "Unknown")
unlabeled_data["city"] = unlabeled_data.apply(
    lambda row: city_mode_by_bd[row["bd"]] if pd.isna(row["city"]) else row["city"],
    axis=1
)

reg_mode_by_bd = unlabeled_data.groupby("bd")["registered_via"].agg(lambda x: x.mode()[0] if not x.mode().empty else "Unknown")
unlabeled_data["registered_via"] = unlabeled_data.apply(
    lambda row: reg_mode_by_bd[row["bd"]] if pd.isna(row["registered_via"]) else row["registered_via"],
    axis=1
)

C:\Users\66698\AppData\Local\Temp\ipykernel_59596\3274835848.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  unlabeled_data["gender"].fillna("Unknown", inplace=True)
C:\Users\66698\AppData\Local\Temp\ipykernel_59596\3274835848.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  unlabeled_data["registration_init_time"].fillna(pd.to_datetime("1970-01-01").date(), inplace=True)
C:\Users\66698\AppData\Local\Temp\ipykernel_59596\3274835848.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  unlabeled_data["registration_duration_days"].fillna(unlabeled_data["registration_duration_days"].mean(), inplace=True)
C:\Users\66698\AppData\Local\Temp\ipykernel_59596\3274835848.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  unlabeled_data["bd"].fillna(unlabeled_data["bd"].mean(), inplace=True)

In [ ]:
unlabeled_data.to_csv(r"data_final/unlabeled_data.csv",index = False)

In [17]:
unlabeled_data

,msno,is_churn,transaction_count,is_auto_renew_change_flag,average_plan,change_in_method,change_in_plan,sum_plan_days,average_amount_paid,average_amount_charged,...,diff_sum_month_num_unq,diff_sum_month_total_secs,diff_mean_month_total_secs,diff_month_login,city,bd,gender,registered_via,registration_init_time,registration_duration_days
0,4n+fXlyJvfQnTeKXTWT507Ll4JVYGrOC8LHCfwBmPE4=,0,21,1,30.000000,1,1,630,99.000000,99.000000,...,0.0,0.000,0.000000,0.0,1.0,27.000000,Unknown,7.0,2015-07-18,564.000000
1,aNmbC1GvFUxQyQUidCVmfbQ0YeCuwkPzEdQ0RwWyeZM=,0,23,1,22.173913,1,2,510,149.000000,110.130435,...,831.0,203537.333,5538.305764,3.0,4.0,28.000000,male,9.0,2005-10-30,4112.000000
2,rFC9eSG/tMuzpre6cwcMLZHEYM89xY02qcz7HL4//jc=,0,11,1,27.272727,1,2,300,91.000000,112.727273,...,70.0,5856.323,-611.564167,4.0,4.0,34.000000,male,7.0,2014-11-01,823.000000
3,WZ59dLyrQcE7ft06MZ5dj40BnlYQY7PHgg/54+HaCSE=,0,17,1,30.000000,1,1,510,99.000000,99.000000,...,0.0,0.000,0.000000,0.0,Unknown,28.154284,Unknown,Unknown,1970-01-01,1130.442581
4,aky/Iv8hMp1/V/yQHLtaVuEmmAxkB5GuasQZePJ7NU4=,0,4,1,30.000000,1,1,120,129.000000,129.000000,...,-23.0,-6540.270,-6540.270000,-1.0,1.0,27.000000,Unknown,13.0,2016-12-22,41.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
907466,8nS1SbsI9+9vN07m8GyfmsWv/A9H8dUlbIbjbZ2a/Nk=,0,13,1,30.000000,1,1,390,99.000000,99.000000,...,28.0,5610.205,-1584.306600,5.0,1.0,27.000000,Unknown,7.0,2013-07-26,1286.000000
907467,KsOpJUA4P2pEaSl0afZhyl1QBaLHXTw33IYuQsnKdxE=,0,29,1,28.965517,1,2,840,107.275862,102.827586,...,0.0,0.000,0.000000,0.0,1.0,27.000000,Unknown,7.0,2011-06-08,2065.000000
907468,NIcI2YUj9v2tC/NRtreLz1wxwLczQacJ2Ek9RJKgarI=,0,9,1,30.000000,1,1,270,99.000000,99.000000,...,148.0,41115.051,4111.505100,10.0,1.0,27.000000,Unknown,7.0,2016-07-18,198.000000
907469,b8MlVUtzUhQrIqKcqVKPENOIUo/5EiZxfExBkkfoBxY=,0,27,1,30.000000,1,1,810,129.000000,129.000000,...,-60.0,-28609.734,-1341.195950,1.0,1.0,27.000000,Unknown,7.0,2011-01-17,2207.000000
907470,YhPGjMES6gPOZMm33BmxwM4hg5I1gbpBM5Be16NXZoI=,0,28,1,30.000000,1,1,840,138.285714,138.285714,...,192.0,58134.468,941.203371,9.0,1.0,27.000000,Unknown,7.0,2013-08-20,1261.000000